# Environment & Secret Files
.env
.env.*
!.env.example

# Dependencies & Build Outputs
node_modules
dist
dist-ssr
*.local

# Application Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & System Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?